/* Header & branding */
#branding {
  overflow: hidden;
  padding: 1em 2em 0 2em;
  position: relative;
  background-color: #151515;
}
#branding div.breadcrumb {
  font-size: 0.9em;
  color: #07F;
  padding-bottom: 0.7em;
}
#branding h1.page-title {
  color: white;
  margin: 0;
  padding-bottom: 0.7em;
  font-size: 2em;
  font-weight: normal;
  display: inline-block;
}
a {
  color: #07F;
}

/* Tabs */
ul.primary li a:link, ul.primary li a.active, ul.primary li a:active, ul.primary li a:visited, ul.primary li a:hover, ul.primary li.active a {
  padding: 4px 18px;
}

/* Messages */
div.messages, fieldset {
  border-radius: 5px;
}
#overlay-content {
  border-radius: 7px 0px 7px 7px;
  box-shadow: 0px 0px 20px #000;
  padding-bottom: 2em;
}

/* Admin pages */
.system-themes-list-disabled .theme-selector {
  width: 300px;
  float: none;
  padding: 20px 20px 20px 0;
  display: inline-block;
  vertical-align: top;
}

/* Admin menu */
#admin-menu .dropdown a, #admin-menu .dropdown li > span {
  border-right: 1px solid #323232;
  display: block;
  padding: 5px;
  font-size: 1.2em;
}

#admin-menu .dropdown li a {
  line-height: 1.2em;
}
div#admin-menu, div#admin-menu-wrapper {
  /* Environment indicator will otherwise change it to the indicator color */
  background: #000 !important;
}
#admin-menu .dropdown .admin-menu-icon a {
  padding: 5px;
}
body.admin-menu {
  position: initial;
}

/* Form tweaks */
.field-type-list-boolean {
  padding: 9px 0;
}

/* Environment indicator */
#toolbar .toolbar-menu .environment-indicator-name, #admin-menu #environment-indicator .environment-indicator-name {
  padding: 0px 20px 4px;
  border-radius: 0;
  max-height: 28px;
  font-size: 1.8em;
  background-image: none;
}
/* Views ui*/
.views-ui-dialog {
  border-radius: 10px 0px 10px 10px;
}
.views-ui-dialog #views-ajax-title {
  border-radius: 10px 0px 0px 0px;
}
.views-ui-dialog .form-buttons {
  border-radius: 0px 0px 10px 10px;
}

/* Maintenance mode */
body.in-maintenance #branding {
  margin: 0px;
  padding: 0px;
  background-color: #fff;
}
body.in-maintenance #sidebar-first {
  float: left;
  width: 180px;
  padding: 10px 20px;
  border: solid 2px #333;
  margin: 0px 20px;
  border-radius: 10px;
}
body.in-maintenance #squeeze {
  margin: 20px;
  margin-left: 260px;
}
body.in-maintenance #logo {
  margin-bottom: 0px;
  margin-left: 65px;
}
body.in-maintenance a {
  color: #EA3;
  text-decoration: none;
  font-weight: bold;
}
body.in-maintenance #page-wrapper {
  margin: 0px 40px;
}
